/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  

/* -------------------------- UNIVERSAL STYLES -----------------------------------
---------------------------------------------------------------------------------- */

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin: 50px 0;
  width: 90%;
}

a {
  text-decoration: none;
}

/* -------------------------- BASE HEADER AND FOOTER STYLES ------------------------
---------------------------------------------------------------------------------- */

header,
footer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  padding: 15px 0;
}

 header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.header-divider {
  height: 1px;
  margin: 10px 0 20px 0;
  width: 100%;
}

header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
} 

footer {
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  margin: 50px 0;
  width: 55%;
}

footer .social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

footer .social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/* --------------------------- MOBILE STYLES - HOMEPAGE ---------------------------
----------------------------------------------------------------------------------- */

/* Hero Area Styles */

.hero-area {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Sign up Aside Styles */

aside {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Amenities or Features Styles */

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.features h2 {
  margin-bottom: 60px;
}

.features p {
  margin: 0;
}

.features .features-items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.features article {
  margin: 30px 0;
  width: 63%;
}

/* Reviews Styles */

.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.reviews h2 {
  margin-bottom: 40px;
}

.reviews h3 {
  margin: 20px 0;
  width: 50%;
}
 
/* ------------------------------ MOBILE STYLES - ABOUT PAGE ---------------------
---------------------------------------------------------------------------------- */

.mission {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.contact-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-content p {
  margin: 0;
}

/* ------------------------------ MOBILE STYLES - FAQ PAGE -----------------------
---------------------------------------------------------------------------------- */

.faq {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.faq .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

/* --------------------------- TABLET STYLES - HOMEPAGE ---------------------------
----------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px){
  .content-wrapper {
    max-width: 83%;
    margin: 100px 0;
  }
  
  /* Header Styles */

  header {
    justify-content: space-between;
    padding: 30px 0;
  }

  header .content-wrapper { 
    justify-content: space-between;
    width: 100%;
    }
  
  .header-divider {
    display: none;
  }

  header nav {
    width: 20%;
  }
  
  header nav ul {
    justify-content: space-between;
  } 

  /* Aside Styles */

  aside .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px 0;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    margin: 0;
    width: 41%;
  }

  /* Features Styles */

  .features article {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-flow: column wrap;
    justify-content: center;
  }

  .features .features-item-description {
    width: 50%;
  }

  /* Reviews Styles */

  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div {
    width: 48%;
  }
  
  /* Footer Styles */

  footer .content-wrapper {
    margin: 100px 0;
    width: 65%;
  }

  .footer-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  footer .contact {
    margin-bottom: 0;
  }

  footer .copyright {
    width: 100%;
  }

/* --------------------------- TABLET STYLES - FAQ PAGE -------------------------
----------------------------------------------------------------------------------- */
  .faq .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 40%
  }

  .faq h2 {
    width: 100%;
  }

/* --------------------------- TABLET STYLES - ABOUT PAGE -------------------------
----------------------------------------------------------------------------------- */
 
  .mission-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .mission-content p {
    width: 43%;
  }

  .contact-section .content-wrapper h2 {
    width: 75%;
  }

  .contact-content {
    align-items: center ;
    display: flex;
    justify-content: space-around;
  }
}

/* --------------------------- DESKTOP Styles --------------------------------------
----------------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px){
  







}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

